.tabs button {
  margin: 8px;
}

.tab-content div {
  margin: 8px;
}

.tabs {
  display: flex;
  flex-wrap: wrap; /* Allow tabs to wrap to the next line if there's not enough space */
  overflow-x: auto; /* Enable horizontal scrolling if tabs overflow */
}

.tabs button {
  flex-shrink: 0; /* Prevent tabs from shrinking */
}